/** 
 * Slideshow style rules.
 */
div.slideshow
{
	position:relative;
}
.slideshow .slidesContainer {
  margin:0 auto;
  position:relative;
}

.slideshow .slidesContainer .slide {
  margin:0 auto;
}

/** 
 * Slideshow controls style rules.
 */
.slide-pagination{
	text-align:right;
}
.slide-pagination img{
	margin: 5px 5px -5px 1px;
}
.control{
	padding: 2px 5px 2px 1px;
	text-decoration: none;
	color: #AAA;
}